.SideDrawer {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
}

@media (min-width: 769px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    animation: SlideIn .3s cubic-bezier(.23,1,.32,1) both;
}

.Close {
    display: none;
}

@keyframes SlideIn {
    0% {
      transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      transform-origin: 50% 0%;
      filter: blur(40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0) scaleY(1) scaleX(1);
      transform-origin: 50% 50%;
      filter: blur(0);
      opacity: 1;
    }
  }