.Main{
    padding: 56px 0px;
    overflow: hidden;
}

.Line {
    border: 0;
    height: 1px;
    width: 80%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.Bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 56px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
}

.Bottom div{
    display: flex;
    justify-content: center;
    flex-flow: row;
    font-size: 28px;
}

.Bottom div a{
    padding: 0 10px;
    color: #000;
    cursor: pointer;
}

.Bottom div a:hover{
    color: #007acc;
}